In [96]:
# Reset all variables so that we can 'run all cells' and not get unused variables hanging around
# %reset -f

In [128]:
import pandas as pd
import numpy as np
from pivottablejs import pivot_ui
import random

In [98]:
df = pd.read_csv("data/welder_time_local.csv").set_index('time_local')
df.sample(10)

,welder_is_on,day_name,hour,day_index,day
time_local,,,,,
2018-09-18 06:00:00+03:00,0,Tuesday,6,1,1_Tuesday
2018-09-09 05:00:00+03:00,0,Sunday,5,6,6_Sunday
2018-09-18 20:00:00+03:00,0,Tuesday,20,1,1_Tuesday
2018-09-12 07:00:00+03:00,0,Wednesday,7,2,2_Wednesday
2018-09-09 07:00:00+03:00,0,Sunday,7,6,6_Sunday
2018-09-18 05:00:00+03:00,0,Tuesday,5,1,1_Tuesday
2018-09-20 20:00:00+03:00,0,Thursday,20,3,3_Thursday
2018-09-21 00:00:00+03:00,0,Friday,0,4,4_Friday
2018-09-17 18:00:00+03:00,0,Monday,18,0,0_Monday
2018-09-11 17:00:00+03:00,0,Tuesday,17,1,1_Tuesday

In [106]:
# To come up with the config options, use this example to output the config: 
# https://pivottable.js.org/examples/onrefresh.html
pivot_ui(df, 
         rows=['day'],
         cols=['hour'],
         rendererName="Table Barchart",
         aggregatorName="Average",
         vals=["welder_is_on"])

In [107]:
pivot_ui(df, 
         rows=['day'],
         cols=['hour'],
         rendererName="Table Barchart",
         aggregatorName="Sum over Sum",
         vals=["welder_is_on", "hour"])

## Example functions for next section:

In [143]:
measured = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
s1 = random.choice(measured)
s1

3

In [145]:
df[df['day_name'] == 'Monday'].sample(3)

                           welder_is_on day_name  hour  day_index       day
time_local
2018-09-10 16:00:00+03:00             0   Monday    16          0  0_Monday
2018-09-17 00:00:00+03:00             0   Monday     0          0  0_Monday
2018-09-10 11:00:00+03:00             0   Monday    11          0  0_Monday

## Create load profile generator

Take a sample of every hour of every weekday: So for example:

```
measured_usage = {
  fre_09: [0, 1, 0, 3, 0, 1, 1]     # Friday @ 9am
  sat_10: [0, 0, 1, 30, 10, 0, 2]   # Saturday @ 10am
  ...
}

```

Day 1 of the year (Sat @ 10am): sample(measured_usage.sat_10)

Day 2 of the year (Frid @ 9am): sample(measured_usage.sat_10)

Check: see if the sum, avg and std roughly matches the measured values

In [ ]:
day_range = range(7)
hour_range = range(25)

In [163]:
def shorten_day_name(day_string):
    return day_string[0:3].lower()

In [169]:
# for day_index in day_range:
#     df_day = df[df['day_index'] == day_index]
#     df_day_hour_0 = df_day[df_day['hour'] == 10]  # put in double loop
    
    # TODO: 
    # 1. Create the key: sat_10
    # 2. Get the array or Series from this query: df_day[df_day['hour'] == hour_index && df_day['day_index'] == day_index]
    # 3. Concat array onto a dict 
    # k = shorten_day_name(df_day_hour_0["day_name"])
    # print("k", k)
    # print(df_day)
    # print(df_day_hour_0['day_name'])
    # print('____________________\n', df_day_hour_0['welder_is_on'])
    
df.sample(5)

,welder_is_on,day_name,hour,day_index,day
time_local,,,,,
2018-09-17 13:00:00+03:00,0,Monday,13,0,0_Monday
2018-09-15 06:00:00+03:00,0,Saturday,6,5,5_Saturday
2018-09-09 17:00:00+03:00,0,Sunday,17,6,6_Sunday
2018-09-13 19:00:00+03:00,0,Thursday,19,3,3_Thursday
2018-09-19 14:00:00+03:00,0,Wednesday,14,2,2_Wednesday

In [ ]:
# There are more efficient was of generating this but this is simple to understand
# and performance isn't important in this notebook

for index, row in df.iterrows():
    print(index, row['welder_is_on'], row['day_name'])

In [117]:
# def load_profile_gen(df):
#     dict = {}
#     for k, v in df:
#         dict[k] = [dictionary[k][column_name] for column_name in df]
        
# load_profile_gen(df)
# itterows
# for index, row in df.iterrows():
#     print(index, row['welder_is_on'], row['day_name'])